::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #000000;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}

a {
    color: #000000;
    background-color: transparent;
    font-weight: normal;
}

.title {
    padding: 0 20px;
    background: #32373a;
    position: relative;
    height: 50px;
}

h1 {
    color: #000000;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
}

h3 {
    color: #000000;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
}

h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    padding: 12px 10px 12px 10px;
}

#content {
    padding: 20px;
    zoom: 1;
}


#menu ul {
    height: auto;
    padding: 4px 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding: 20px;
    font-size: 25px;
    padding-top: 1px;
}

#menu a {
    text-decoration: none;
    color: #000000;
    padding: 6px 6px 6px 6px;
}

#search_bar{
    display: inline;
    float: right;
    overflow: hidden;
    padding-right: 30px;
}
