<!DOCTYPE html>
<html>
<head lang="en">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action="/lists/add_list/add" method="POST">
    <input name="title" placeholder="Title" type="text" width="80"><br>
    <textarea name="description" placeholder="Description" cols="40" rows="10">
    </textarea><br>
    <input type="checkbox" name="public" value="f" checked>Is Public<br>
    <input type="submit" value="Create List">
</form>
</body>
</html>