<!DOCTYPE html>
<html>
<head lang="en">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>User List Page</title>
</head>
<body>
<div>
    <h1>{{uid}}'s Lists</h1>
</div>
   <form id="search_bar" action="/search">
        <select name="mydropdown">
            <option value="Book">Book</option>
            <option value="Author">Author</option>
            <option value="Keywords">Keywords</option>
        </select>

          <input type="text" width="70" placeholder="Search" name="q" size="40">
          <input type="submit" value="Go" >

    </form>

        <div id="menu">
         <ul>
              <li aria-setsize="10"><a href="/">Home</a></li>
              <li><a href="aboutus.html">Friends</a></li>
              <li><a href="/users/{{uid}}/lists">My Lists</a></li>
        </ul>
       </div>
    <div>
        <div id= "add_list" >
            <form action="/users/{{uid}}/lists/delete_list/{{l_id}}">
                 <input type="submit" id = "add_list1" value="Delete List" align="left">
            </form>
        </div>
        <ul>
            {% if not list_books   %}
                <p> No books in list</p>
            {% else %}
                {% for l in list_books %}
                    <li><a href="http://www.w3schools.com">{{l.title}}</a></li>
                {% endfor %}
             {% endif %}
         </ul>

            {% if prevPage %}
                 <a href="/articles/?page={{ prevPage }}">Previous</a>
            {% endif %}
                 <a href="/articles/?page={{ nextPage }}">Next</a>
    </div>
</body>
</html>