<!DOCTYPE html>
<html>
<head lang="en">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Followers</title>
</head>
<body>
    <div>
        <h1> People that follow {{ user }}:</h1>
    </div>
    {% for item in follow %}
    <li><a href="/users/{{item.follower}}">{{ item.follower }}</a></li>
   {% endfor %}

{% if prevPage %}
    <a href="/articles/?page={{ prevPage }}">Previous</a>
{% endif %}
    Page {{page}} of {{total_pages}}
{% if nextPage %}
    <a href="/articles/?page={{ nextPage }}">Next</a>
{% endif %}
</body>
</html>