<!DOCTYPE html>
<html>
<head lang="en">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div id="container">
<div>Register</div>
<form  action="/register" method="POST">
<input type="text"      placeholder="Username"  name="username" size="40"><br>
<input type="password"  placeholder="Password"  name="password" size="40"><br>
<input type="email"     placeholder="Email"     name="email"    size="40"><br>
<input type="submit" value="Submit">
</form>
</div>
</body>
</html>