<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <title>User List Page</title>
</head>
<body>
<div>
    <h1>{{uid}}'s Lists</h1>
</div>
   <form id="search_bar" action="/search">
        <select name="mydropdown">
            <option value="Book">Book</option>
            <option value="Author">Author</option>
            <option value="Keywords">Keywords</option>
        </select>

          <input type="text" width="70" placeholder="Search" name="q" size="40">
          <input type="submit" value="Go" >

    </form>

        <div id="menu">
         <ul>
              <li aria-setsize="10"><a href="/">Home</a></li>
              <li><a href="aboutus.html">Friends</a></li>
              <li><a href="/users/{{uid}}/lists">My Lists</a></li>
        </ul>
       </div>
    <div>
        <div id= "add_list" >
            <form action="/users/{{uid}}/lists/add_list">
                 <input type="submit" id = "add_list1" value="Add List" align="left">
            </form>
        </div>
        <ul>
            {% for l in list %}
             <li><a href="/users/{{uid}}/lists/{{l.list_id}}">{{l.list_title}}</a></li>
             {% endfor %}
         </ul>
    </div>
</body>
</html>