<!DOCTYPE html>
<html>

<head lang="en">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
</title>
</head>
<body>
<div id="menu">
      {% if uid == session['username'] %}
        <h1>Welcome back, {{ session['username'] }}!</h1>
      {% else %}
        <h1>{{uid}}'s Homepage</h1>
      {% endif %}
   <form id="search_bar" action="/search">
       <select name="dropdown">
            <option selected value="Book">Book</option>
            <option value="Author">Author</option>
            <option value="Categories">Categories</option>
            <option value="User">User</option>
       </select>
          <input type="text" width="70" placeholder="Search" name="q" size="40">
          <input type="submit" value="Go" >
   </form>
      {% if uid == session['username'] %}
        <ul>
            <li aria-setsize="10"><a href="/">Home</a></li>
            <li><a href="/followers/{{ session['username']}}">Followers</a></li>
            <li><a href="/follows/{{session['username']}}">Following</a></li>
            <li><a href="/users/{{session['username']}}/reviews">Reviews</a></li>
            <li><a href="/users/{{uid}}/friend_activity">Friend Activity</a></li>
            <li><a href="/users/{{uid}}/lists">My Lists</a></li>
        </ul>
      {% else %}
            {% if following == 0 %}
                <form id="follow" action="/users/{{ uid }}/follow" method="POST">
                    <input type="submit" value="Follow"><input type="hidden" name = "follow=" value="{{ uid }}"></li>
                </form>
            {% else %}
                <form id="unfollow" action="/users/{{uid}}/unfollow" method="POST">
                    <input type="submit" value="Unfollow"><input type="hidden" name = "unfollow=" value="{{ uid }}"></li>
                </form>
            {% endif %}
            <li><a href="/followers/{{uid}}">Followers</a></li>
            <li><a href="/follows/{{uid}}">Following</a></li>
            <li><a href="/users/{{uid}}/reviews">Reviews</a></li>
            <li><a href="/users/{{uid}}/friend_activity">{{uid}}'s Friend Activity</a></li>
      {% endif %}
</div>
</body>
</html>
