<!DOCTYPE html>
<html>

<head lang="en">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Welcome, {{ session['username'] }}</title>
</head>
<body>
<div>
    <h1>Welcome back, {{ session['username'] }} !</h1>
</div>
   <form id="search_bar" action="/search">
       <select name="mydropdown">
            <option value="Book">Book</option>
            <option value="Author">Author</option>
            <option value="Categories">Categories</option>
            <option value="User">User</option>
       </select>
       <input type="text" width="70" placeholder="Search" name="q" size="40">
       <input type="submit" value="Go" >
    </form>

        <div id="menu">
         <ul>
              <li aria-setsize="10"><a href="/">Home</a></li>
              <li><a href="aboutus.html">Friends</a></li>
              <li><a href="/lists">My Lists</a></li>
        </ul>
       </div>

  <div id="main_content_container">
    <div id="left_pane" >
        <h3>Top Reads</h3>
        <ul>
           <!-- {% for article in articles %}
                 <li><a href="/articles/{{ article.id }}">{{ article.title }}</a></li>
            {% endfor %} -->
             <li><a href="">Fill with books that are top rated for month</a></li>
         </ul>
    </div>

      <div id="right_pane">
        <h4>Friend Activity</h4>
          <ul>
   <!-- {% for article in articles %}
        <li><a href="/articles/{{ article.id }}">{{ article.title }}</a></li>
    {% endfor %} -->
        <li><a href="">Fill with user friend activity</a></li>
</ul>
    </div>

  </div>
</body>
</html>